{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <h3 class="title">Friend List</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <ul>
            {% if pending_count != 0 %}
            <h3 class="subtitle is-4 has-text-primary">Pending friendship</h3>
            {% for i in users_friendship %}
            {% if i[1].fstatus=='pending' %}
            <li>
                <form method="POST" action="/friends">
                    <div class="field level">
                        <label class="label level-left is-medium">{{i[0].fname}} {{i[0].lname}} </label>
                        <div class="control">
                            <input type="hidden" name="follower" value="{{ i[1].follower }}">
                            <input type="hidden" name="followee" value="{{ i[1].followee }}">
                            <input class="button is-primary is-outlined" type="submit" name="action" value="Accept">
                            <input class="button is-primary is-outlined" type="submit" name="action" value="Reject">
                        </div>
                    </div>
                </form>
            </li>
                {% endif %}
                {% endfor %}
                {% endif %}
        </ul>
        {% if accepted_count == 0 %}
        <h3 class="subtitle  is-4 has-text-primary">It's empty</h3>
        {% else %}
        <h3 class="subtitle  is-4 has-text-primary">Friends</h3>
        <ul>
            {% for i in users_friendship %}
            {% if i[1].fstatus=='accepted' %}
            <li>
                <form method="POST" action="/friends">
                    <div class="field level">
                        <label class="label level-left is-medium">{{i[0].fname}} {{i[0].lname}} </label>
                        <div class="control">
                            <input type="hidden" name="follower" value="{{ i[1].follower }}">
                            <input type="hidden" name="followee" value="{{ i[1].followee }}">
                            <input class="button is-primary is-outlined" type="submit" name="action" value="Unfollow">
                        </div>
                    </div>
                </form>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="/friends">
            <div class="field has-addons has-addons-centered">
                <div class="control">
                    <input class="input" type="email" name="friend-email" placeholder="Your friend's email">
                </div>
                <div class="control">
                    <button class="button is-info" name="add-new" value="True">Follow a friend</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}