{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
    <h3 class="title">{{ message_info.message.title }}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <p class="has-text-left">
            <label class="label">Content:</label>
            <br>
            {{ message_info.message.content }}</p>
        <br>
        <p class="has-text-right">- By {{ message_info.author.fname }} {{ message_info.author.lname }} at
            {{ message_info.block.bname }}</p>
        <p class="has-text-right">{{ message_info.message.mtimestamp }}</p>

        {% if reply_list != None %}
        <hr class="is-divider">
        {% for i in reply_info_list %}
        <p class="has-text-left">
            <label class="label">Reply:</label>
            <br>
            {{ i.reply.content }}</p>
        <br>
        <p class="has-text-right">- By {{ i.author.fname }} {{ i.author.lname }} at {{ i.block.bname }}</p>
        <p class="has-text-right">{{ i.reply.rtimestamp }}</p>
        <hr>
        {% endfor %}
        {% endif %}




        <form method="POST" action="{{ url_for('timeline.new_reply_post', post_id=message_info.message.id) }}">
            <div class="field">
                <label class="label has-text-left">Add reply</label>
                <textarea class="textarea" name="content" placeholder="Write something here"></textarea>
            </div>
            <p class="control has-text-right">
                <button class="button is-info">Reply</button>
            </p>
        </form>
    </div>
    <button class="button is-primary is-inverted" onclick="goBack()">Go Back</button>
</div>
{% endblock %}