{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <label class="label has-text-left">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">First name</label>
                <div class="control">
                    <input class="input" type="text" name="first-name" placeholder="First Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">Last name</label>
                <div class="control">
                    <input class="input" type="text" name="last-name" placeholder="Last Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">Password</label>
                <div class="control">
                    <input class="input" type="password" name="new-password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">Confirm password</label>
                <div class="control">
                    <input class="input" type="password" name="confirm-password" placeholder="Confirm Password">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">Street address</label>
                <div class="control">
                    <input class="input" type="text" name="street-address" placeholder="Street Address">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">City</label>
                <div class="control">
                    <input class="input" type="text" name="city" placeholder="City">
                </div>
            </div>

            <div class="field">
                <label class="label has-text-left">State</label>
                <div class="control">
                    <input class="input" type="text" name="state" placeholder="State">
                </div>
            </div>

            <button class="button is-info">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}