{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
    {% if not search %}
    <h3 class="title">Message</h3>
    {% else %}
    <h3 class="title">Search results</h3>
    {% endif %}
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        {% if not search %}
        <div class="tabs is-centered">
            <ul>
                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="all">
                        <input type="hidden" name="status" value="all">
                        {% if scope == 'all' and status =='all' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="All">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="All">
                        {% endif %}
                    </form>
                </li>
                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="all">
                        <input type="hidden" name="status" value="new">
                        {% if scope == 'new' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="New">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="New">
                        {% endif %}
                    </form>
                </li>
                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="all">
                        <input type="hidden" name="status" value="unread">
                        {% if status == 'unread' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="Unread">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="Unread">
                        {% endif %}
                    </form>
                </li>
                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="friend">
                        <input type="hidden" name="status" value="all">
                        {% if scope == 'friend' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="Friend">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="Friend">
                        {% endif %}
                    </form>
                </li>
                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="block">
                        <input type="hidden" name="status" value="all">
                        {% if scope == 'block' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="Block">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="Block">
                        {% endif %}
                    </form>
                </li>
                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="hood">
                        <input type="hidden" name="status" value="all">
                        {% if scope == 'hood' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="Hood">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="Hood">
                        {% endif %}
                    </form>
                </li>

                <li>
                    <form method="POST" action="/timeline">
                        <input type="hidden" name="scope" value="own">
                        <input type="hidden" name="status" value="all">
                        {% if scope == 'hood' %}
                        <input class="button is-primary" onclick="submit" type="submit" value="Own">
                        {% else %}
                        <input class="button is-primary is-outlined" onclick="submit" type="submit" value="Own">
                        {% endif %}
                    </form>
                </li>
            </ul>
        </div>
        {% endif %}

        {% if message_count == 0 %}
        <h3 class="subtitle  is-4 has-text-primary">It's empty</h3>
        {% else %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in thread_message_list %}
                <tr>
                    <td><a href="{{url_for('timeline.display_message', post_id=i[1].id) }}">{{ i[1].title }}</a></td>
                    <td>{{ i[2].fname }} {{ i[2].lname }}</td>
                    <td>{{ i[1].mtimestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <a class="button is-primary is-inverted" href="{{ url_for('main.index') }}">Go Back</a>
</div>
{% endblock %}